body {
  padding-right: 400px !important; }

#webtexttool-analyse .loader {
  position: relative;
  display: block;
  margin: auto;
  padding: 0;
  width: 100px;
  height: 15px;
  text-align: center; }
#webtexttool-analyse i {
  position: relative;
  display: inline-block;
  margin: 0 4px;
  width: 5px;
  height: 15px;
  border-radius: 2px;
  border: solid #00c2ff;
  border-width: 0 1px 1px 0;
  background: #00ddff;
  animation: tilt infinite 5s cubic-bezier(0.955, -0.01, 1, 1);
  transform-origin: 100% 100%; }
#webtexttool-analyse i::before {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 0;
  display: block;
  width: 5px;
  height: 5px;
  background: transparent;
  box-shadow: 0 2px rgba(0, 0, 0, 0.3);
  animation: stretch infinite 5s cubic-bezier(0.955, -0.01, 1, 1);
  opacity: 0;
  transform-origin: 0% 0%; }
#webtexttool-analyse i:nth-child(2),
#webtexttool-analyse i:nth-child(2)::before {
  animation-delay: .3s; }
#webtexttool-analyse i:nth-child(3),
#webtexttool-analyse i:nth-child(3)::before {
  animation-delay: .6s; }
#webtexttool-analyse i:nth-child(4),
#webtexttool-analyse i:nth-child(4)::before {
  animation-delay: .9s; }
#webtexttool-analyse i:nth-child(5),
#webtexttool-analyse i:nth-child(5)::before {
  animation-delay: 1.2s; }
#webtexttool-analyse i:last-of-type {
  animation-name: tilt-last; }
#webtexttool-analyse i:last-of-type::before {
  animation-name: stretch-last; }

@keyframes tilt {
  10% {
    transform: rotate(70deg); }
  60% {
    transform: rotate(70deg); }
  70% {
    transform: rotate(0deg); } }
@keyframes tilt-last {
  10% {
    transform: rotate(90deg); }
  60% {
    transform: rotate(90deg); }
  70% {
    transform: rotate(0deg); } }
@keyframes stretch {
  10% {
    transform: rotate(-70deg);
    width: 10px;
    opacity: 1;
    left: 0px;
    bottom: -1px; }
  60% {
    transform: rotate(-70deg);
    width: 10px;
    opacity: 1; }
  70% {
    width: 5px;
    transform: rotate(0deg);
    opacity: 0; } }
@keyframes stretch-last {
  10% {
    transform: rotate(-90deg);
    width: 10px;
    height: 2px;
    opacity: .5;
    left: 3px;
    bottom: -1px; }
  60% {
    transform: rotate(-90deg);
    width: 10px;
    height: 2px;
    opacity: .5; }
  70% {
    transform: rotate(0deg);
    width: 5px;
    height: 5px;
    opacity: 0; } }
#webtexttool-analyse {
  position: fixed;
  background-color: #f7f7f9;
  margin: 0;
  padding: 0;
  right: 0;
  top: 0px;
  bottom: 0px;
  width: 400px;
  border-width: 0;
  border-radius: 0;
  z-index: 1;
  border-left: 1px solid #cccccc;
  overflow: hidden; }
  #webtexttool-analyse .ui-tabs-panel {
    overflow-y: auto;
    height: calc(100% - 155px); }
  body.toolbar #webtexttool-analyse {
    padding-top: 70px; }
  body.admin-menu #webtexttool-analyse {
    padding-top: 20px; }
  #webtexttool-analyse .ui-tabs-panel {
    padding-top: 30px; }
  #webtexttool-analyse .logo {
    width: 200px;
    max-width: 100%;
    height: auto;
    margin: 20px 15px; }
  #webtexttool-analyse, #webtexttool-analyse * {
    font: 12px/18px "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", "Liberation Sans", FreeSans, Sans-serif;
    color: #222;
    background-color: #f7f7f9; }
  #webtexttool-analyse .ui-tabs-nav {
    padding: 0 7px; }
  #webtexttool-analyse h2 {
    font: 12px/18px "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", "Liberation Sans", FreeSans, Sans-serif;
    font-weight: bolder;
    margin: 0 0 1em 0; }
  #webtexttool-analyse a, #webtexttool-analyse a strong {
    clear: both;
    color: #6678be; }
  #webtexttool-analyse .info {
    font-size: 110%;
    font-weight: bolder;
    background-color: #6678be;
    padding: 1em;
    color: white; }
  #webtexttool-analyse .suggestion {
    padding-bottom: 1em;
    margin-bottom: 0.6em;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px; }
    #webtexttool-analyse .suggestion label {
      font-weight: bolder;
      padding-bottom: 0.6em;
      width: 260px;
      display: inline-block; }
    #webtexttool-analyse .suggestion strong {
      font-weight: bolder;
      color: #444; }
  #webtexttool-analyse .wtt-form-element {
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px; }
    #webtexttool-analyse .wtt-form-element .description {
      padding-top: 5px; }
  #webtexttool-analyse #webtexttool-page-score-bar {
    margin-bottom: 1em; }
  #webtexttool-analyse .bar {
    border: 0px solid #000000;
    height: 10px;
    border-radius: 5px;
    background-color: #ccc;
    box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 0.4em; }
  #webtexttool-analyse .bar .percentage {
    box-sizing: border-box;
    height: 10px;
    background-color: green;
    border-radius: 5px;
    min-width: 6px; }
  #webtexttool-analyse .suggestion {
    transition: opacity .3s ease-in-out; }
    #webtexttool-analyse .suggestion .bar {
      width: 100%;
      display: inline-block; }
    #webtexttool-analyse .suggestion .bar, #webtexttool-analyse .suggestion .percentage {
      height: 6px; }
  #webtexttool-analyse .score-none .percentage {
    background-color: #aa0000; }
  #webtexttool-analyse .score-low .percentage {
    background-color: #aa0000; }
  #webtexttool-analyse .score-moderate .percentage {
    background-color: #ff8800; }
  #webtexttool-analyse .score-high .percentage {
    background-color: #ff8800; }
  #webtexttool-analyse .score-complete .percentage {
    background-color: green; }
  #webtexttool-analyse .form-item input {
    max-width: 100%;
    box-sizing: border-box; }
  #webtexttool-analyse table {
    max-width: 100%; }
  #webtexttool-analyse .form-item,
  #webtexttool-analyse .form-radios,
  #webtexttool-analyse .rules {
    overflow: hidden;
    max-height: 300px;
    transition: max-height 300ms ease, padding 300ms ease;
    margin: 0;
    list-style: none inside none; }
  #webtexttool-analyse .form-radios {
    padding-bottom: 10px; }
  #webtexttool-analyse label[for^="wtt-sug-label-"] {
    cursor: pointer;
    padding-left: 20px;
    padding-top: 0;
    position: relative;
    font-weight: bolder;
    padding-bottom: 0.6em;
    width: 270px;
    display: inline-block; }
    #webtexttool-analyse label[for^="wtt-sug-label-"]:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
      background-image: url(../img/icon_triangle-down-right.png);
      background-position: left top;
      background-repeat: no-repeat;
      transition: all .3s ease-in-out;
      background-color: transparent;
      transform: translate(0, 0) rotate(0); }
  #webtexttool-analyse input[type=checkbox][id^="wtt-sug-label-"] {
    display: none; }
    #webtexttool-analyse input[type=checkbox][id^="wtt-sug-label-"]:checked ~ .form-item, #webtexttool-analyse input[type=checkbox][id^="wtt-sug-label-"]:checked ~ .form-radios, #webtexttool-analyse input[type=checkbox][id^="wtt-sug-label-"]:checked ~ .rules {
      max-height: 0;
      padding: 0 0; }
    #webtexttool-analyse input[type=checkbox][id^="wtt-sug-label-"]:checked ~ label:before {
      transform: translate(-4px, -2px) rotate(-43deg); }
  #webtexttool-analyse .rule {
    margin-bottom: 0.4rem;
    padding-left: 20px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: transparent; }
    #webtexttool-analyse .rule .rule-label {
      cursor: pointer;
      font-weight: inherit;
      color: inherit;
      display: block;
      width: 100%; }
    #webtexttool-analyse .rule .description {
      display: block;
      color: inherit;
      margin: 4px 0;
      font-style: italic; }
    #webtexttool-analyse .rule .rule-toggle {
      display: none; }
      #webtexttool-analyse .rule .rule-toggle + .rule-label:after {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-top-color: #80c080;
        position: relative;
        top: 4px; }
      #webtexttool-analyse .rule .rule-toggle:not(:checked) ~ *:not(.rule-label) {
        display: none; }
      #webtexttool-analyse .rule .rule-toggle:checked + .rule-label:after {
        border-top-color: transparent;
        border-bottom-color: #80c080;
        top: -2px; }
  #webtexttool-analyse .rule-checked {
    background-image: url(../img/icon_checkmark.png);
    color: #999; }
  #webtexttool-analyse .rule-unchecked {
    background-image: url(../img/icon_checkbox.png); }
  #webtexttool-analyse .extra-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0;
    margin: 0; }
    #webtexttool-analyse .extra-info .info-item {
      flex: 0 1 auto;
      flex-wrap: wrap;
      list-style: none;
      padding: 3px 6px;
      margin: 2px 5px 5px 0;
      background-color: #e1ecf4;
      color: #39739d;
      border-radius: 4px;
      position: relative;
      transition: background-color .2s ease, color .2s ease; }
      #webtexttool-analyse .extra-info .info-item .count {
        display: inline-block;
        width: 18px;
        height: 18px;
        border-radius: 100%;
        vertical-align: middle;
        text-align: center;
        margin-left: 2px;
        font-weight: 700;
        color: white;
        background-color: #afc8dd;
        font-size: 10px;
        padding-top: 1px;
        box-sizing: border-box; }
      #webtexttool-analyse .extra-info .info-item .icon {
        display: inline-block;
        vertical-align: middle;
        background-color: transparent;
        width: 14px;
        height: 14px; }
        #webtexttool-analyse .extra-info .info-item .icon svg {
          width: 14px;
          height: 14px;
          background-color: transparent; }
        #webtexttool-analyse .extra-info .info-item .icon:empty {
          display: none; }
        #webtexttool-analyse .extra-info .info-item .icon.has-suggestions-icon svg * {
          fill: #ff8800; }
        #webtexttool-analyse .extra-info .info-item .icon.type-icon svg * {
          fill: #39739d; }
      #webtexttool-analyse .extra-info .info-item .word-suggestions {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        z-index: 11;
        width: auto;
        background-color: white;
        border: 1px solid #ddd;
        left: 50%;
        top: calc(100% + 7px);
        transform: translateX(-50%);
        transition: opacity .2s ease, visibility .2s ease;
        border-radius: 5px;
        box-shadow: 0 0 3px 0 #dddddd;
        cursor: text; }
        #webtexttool-analyse .extra-info .info-item .word-suggestions:before {
          content: '';
          width: 14px;
          height: 14px;
          border: 1px solid #ddd;
          background-color: #eee;
          box-shadow: 0 0 3px 0 #dddddd;
          position: absolute;
          z-index: -1;
          left: 50%;
          top: 0;
          transform: translateX(-50%) translateY(-50%) rotate(45deg); }
        #webtexttool-analyse .extra-info .info-item .word-suggestions .label {
          display: block;
          padding: 10px 15px;
          background: #eee;
          font-weight: 700; }
        #webtexttool-analyse .extra-info .info-item .word-suggestions .suggestions-list {
          margin: 0;
          padding: 10px 15px; }
          #webtexttool-analyse .extra-info .info-item .word-suggestions .suggestions-list .word-suggestion {
            list-style: none;
            display: inline-block;
            white-space: nowrap; }
            #webtexttool-analyse .extra-info .info-item .word-suggestions .suggestions-list .word-suggestion:not(:last-child):after {
              content: ', '; }
      #webtexttool-analyse .extra-info .info-item:hover {
        background-color: #cee0ed;
        color: #32658a; }
        #webtexttool-analyse .extra-info .info-item:hover .word-suggestions {
          opacity: 1;
          visibility: visible; }
      #webtexttool-analyse .extra-info .info-item.has-suggestions {
        cursor: pointer; }
      #webtexttool-analyse .extra-info .info-item.gender-female {
        background-color: #ffdfdd; }
        #webtexttool-analyse .extra-info .info-item.gender-female:hover {
          background-color: #ffc7c4; }
      #webtexttool-analyse .extra-info .info-item.gender-neutral {
        background: #ddd; }
      #webtexttool-analyse .extra-info .info-item.sentiment-negative {
        background: #eaeaea; }
      #webtexttool-analyse .extra-info .info-item.sentiment-positive {
        background: #daf9d8; }

/* Css for keyword suggestions */
#webtexttool-keyword-suggestion {
  margin: 0 0 10px 0;
  width: 100%;
  border-bottom: 1px solid #eeeeee; }
  #webtexttool-keyword-suggestion .item {
    display: inline-block;
    vertical-align: top; }
  #webtexttool-keyword-suggestion .keyword {
    min-width: 250px; }
  #webtexttool-keyword-suggestion .add-suggestion input[type=button] {
    background-color: #008BCB;
    color: #fff;
    border: 1px solid #cccccc;
    height: 32px;
    margin: 10px 10px 0 20px;
    padding: 5px; }
  #webtexttool-keyword-suggestion .item .label {
    font-weight: bold; }
  #webtexttool-keyword-suggestion .color-bar {
    border: 1px solid #000000;
    height: 10px;
    border-radius: 5px;
    width: 120px; }
  #webtexttool-keyword-suggestion .add-keyword {
    border-radius: 50px;
    padding: 0.4em 1em; }
    #webtexttool-keyword-suggestion .add-keyword:hover {
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.35); }
  #webtexttool-keyword-suggestion .indicator {
    vertical-align: middle;
    display: inline-block;
    height: 1em;
    width: 1em;
    border: 1px solid #000;
    margin-right: 1em; }
    #webtexttool-keyword-suggestion .indicator.red {
      background-color: #aa0000; }
    #webtexttool-keyword-suggestion .indicator.orange {
      background-color: #ff8800; }
    #webtexttool-keyword-suggestion .indicator.yellow {
      background-color: #ffd000; }
    #webtexttool-keyword-suggestion .indicator.light-green {
      background-color: #80c080; }
    #webtexttool-keyword-suggestion .indicator.green {
      background-color: green; }

#webtexttool-tabs-wrapper {
  border: none !important;
  padding: 0;
  height: 100%; }
  #webtexttool-tabs-wrapper .ui-state-default a {
    color: black; }
  #webtexttool-tabs-wrapper li.ui-tabs-selected {
    border: 1px solid #ccc;
    border-radius: 8px 8px 0 0; }

.webtexttool-stats-wrapper {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 20px; }

#webtexttool-seo-inner {
  padding-top: 10px; }

.wtt-toggle-switch {
  height: 16px;
  width: 38.4px;
  float: right;
  clear: both;
  position: relative;
  z-index: 10; }
  .wtt-toggle-switch .form-item {
    height: 22.4px; }
  .wtt-toggle-switch input {
    display: none; }
  .wtt-toggle-switch label.option {
    background-color: #ccc !important;
    border-radius: 15px;
    width: 38.4px;
    height: 16px;
    display: block;
    box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    cursor: pointer;
    transition: all .3s ease-in-out; }
    .wtt-toggle-switch label.option:after {
      content: '';
      display: block;
      position: absolute;
      top: 3.2px;
      left: 4.8px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #777 !important;
      transition: all .3s ease-in-out;
      transform: translateX(0); }
  .wtt-toggle-switch input:checked + label.option {
    background-color: #80c080 !important; }
    .wtt-toggle-switch input:checked + label.option:after {
      background-color: green !important;
      transform: translateX(19.2px); }

#webtexttool-content_quality-inner label[for^="wtt-sug-label-"] {
  width: 230px !important; }

.wtt-disabled {
  opacity: .3;
  pointer-events: none; }

.wtt-analyse-content-quality-wrapper {
  margin-bottom: 20px; }

#webtexttool-content_quality-inner .form-radios .form-type-radio {
  display: block;
  float: left;
  margin-right: -1px; }
  #webtexttool-content_quality-inner .form-radios .form-type-radio:first-child label {
    border-radius: 5px 0 0 5px; }
  #webtexttool-content_quality-inner .form-radios .form-type-radio:last-child label {
    border-radius: 0 5px 5px 0; }
  #webtexttool-content_quality-inner .form-radios .form-type-radio label {
    padding: 2px 5px;
    border: 1px solid #CCC;
    cursor: pointer;
    z-index: 90;
    display: block;
    font-weight: 100;
    text-align: center;
    width: auto; }
    #webtexttool-content_quality-inner .form-radios .form-type-radio label:hover {
      background: #449D44; }
  #webtexttool-content_quality-inner .form-radios .form-type-radio input {
    display: none; }
    #webtexttool-content_quality-inner .form-radios .form-type-radio input[type="radio"] {
      opacity: 0.011;
      z-index: 100; }
      #webtexttool-content_quality-inner .form-radios .form-type-radio input[type="radio"]:checked + label {
        color: white;
        background: #5CB85C;
        border-color: green;
        z-index: 2;
        position: relative; }
        #webtexttool-content_quality-inner .form-radios .form-type-radio input[type="radio"]:checked + label:hover {
          background: #449D44; }
      #webtexttool-content_quality-inner .form-radios .form-type-radio input[type="radio"] + label:hover {
        background: #E6E6E6; }

.statistics {
  display: inline-block;
  margin-bottom: 20px;
  border-bottom: 1px solid #E6E6E6;
  width: 100%;
  padding-bottom: 5px; }
  .statistics .stat {
    display: block;
    padding-bottom: 6px;
    float: left;
    width: 100%; }
    .statistics .stat strong,
    .statistics .stat span {
      float: left;
      width: 50%;
      display: block; }
    .statistics .stat strong {
      font-weight: bold !important; }
    .statistics .stat span {
      text-align: right; }
  .statistics .score {
    font-size: 18px !important;
    font-weight: bold !important; }
    .statistics .score strong {
      font-size: 18px !important;
      font-weight: bold !important; }
    .statistics .score span {
      font-size: 18px !important;
      font-weight: bold !important; }

.wtt-start-optimizing-seo {
  margin-bottom: 30px !important; }

/*# sourceMappingURL=webtexttool.css.map */
