$sidebar-width: 400px;

body {
  padding-right: $sidebar-width !important;
}

@import "ajax_loader";

// Settings
$background-color: #f7f7f9;
$text-color: #222;
$text-color-strong: #444;
$text-color-subdued: #999;
$color-accent: #6678be;
$font: 12px/18px "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", "Liberation Sans", FreeSans, Sans-serif;
$ruler-color: #ccc;
$color-green: green;
$color-light-green: mix($color-green, white);
$color-yellow: #ffd000;
$color-orange: #ff8800;
$color-red: #aa0000;

#webtexttool-analyse {
  position: fixed;
  background-color: $background-color;
  margin: 0;
  padding: 0;
  right: 0;
  top: 0px;
  bottom: 0px;
  width: $sidebar-width;
  border-width: 0;
  border-radius: 0;
  z-index: 1;
  border-left: 1px solid #cccccc;
  overflow: hidden;

  .ui-tabs-panel {
    overflow-y: auto;
    height: calc(100% - 155px);
  }

  // Toolbar module support.
  body.toolbar & {
    padding-top: 70px;
  }

  // Admin menu module support.
  body.admin-menu & {
    padding-top: 20px;
  }

  .ui-tabs-panel {
    padding-top: 30px;
  }

  // Styling
  .logo {
    width: 200px;
    max-width: 100%;
    height: auto;
    margin: 20px 15px;
  }

  // reset typography
  &, & * {
    font: $font;
    color: $text-color;
    background-color: $background-color;
  }

  .ui-tabs-nav {
    padding: 0 7px;
  }

  h2 {
    font: $font;
    font-weight: bolder;
    margin: 0 0 1em 0;
  }

  a {
    &, strong {
      clear: both;
      color: $color-accent;
    }
  }

  // Info

  .info{
    font-size: 110%;
    font-weight: bolder;
    background-color: $color-accent;
    padding: 1em;
    color: white;
  }

  // Suggestion:
  .suggestion {

    padding-bottom: 1em;
    margin-bottom: 0.6em;
    border-bottom: 1px solid $ruler-color;
    margin-bottom: 20px;

    //&:last-child {
    //  border-bottom-width: 0;
    //}

    label {
      font-weight: bolder;
      padding-bottom: 0.6em;
      width: 260px;
      display: inline-block;
    }

    strong {
      font-weight: bolder;
      color: $text-color-strong;
    }

  }

  .wtt-form-element {
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;

    .description {
      padding-top: 5px;
    }
  }

  // Score bar

  #webtexttool-page-score-bar {
    margin-bottom: 1em;
  }

  .bar {
    border: 0px solid #000000;
    height: 10px;
    border-radius: 5px;
    background-color: #ccc;
    box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.15); // indulge
    margin-bottom: 0.4em;
  }

  .bar .percentage {
    box-sizing: border-box;
    height: 10px;
    background-color: $color-green;
    border-radius: 5px;
    min-width: 6px; // always show a bit of the bar
  }

  .suggestion {
    transition: opacity .3s ease-in-out;

    .bar {
      width: 100%;
      display: inline-block;
    }
    .bar, .percentage {
      height: 6px;
    }
  }

  .score-none .percentage {
    background-color: $color-red;
  }
  .score-low .percentage {
    background-color: $color-red;
  }
  .score-moderate .percentage {
    background-color: $color-orange;
  }
  .score-high .percentage {
    background-color: $color-orange;
  }
  .score-complete .percentage {
    background-color: $color-green;
  }

  .form-item input {
    max-width: 100%;
    box-sizing: border-box;
  }

  table {
    max-width: 100%;
  }

  // Show & hide sections

  // ( We use a trick so we don't need JavaScript.
  //   The section-title is a label that refers to
  //    a hidden checkbox. De content of the section
  //    is shown or hidden depending on the value
  //    of the checkbox )

  .form-item,
  .form-radios,
  .rules {
    overflow: hidden;
    max-height: 300px;
    transition: max-height 300ms ease, padding 300ms ease;
    margin: 0;
    list-style: none inside none;
  }

  .form-radios {
    padding-bottom: 10px;
  }

  label[for^="wtt-sug-label-"] {
    cursor: pointer;
    padding-left: 20px;
    padding-top: 0;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
      background-image: url(../img/icon_triangle-down-right.png);
      background-position: left top;
      background-repeat: no-repeat;
      transition: all .3s ease-in-out;
      background-color: transparent;
      transform: translate(0, 0) rotate(0);
    }

    font-weight: bolder;
    padding-bottom: 0.6em;
    width: 270px;
    display: inline-block;
  }


  input[type=checkbox][id^="wtt-sug-label-"] {
    display: none;

    &:checked {
      & ~ .form-item,
      & ~ .form-radios,
      & ~ .rules {
        max-height: 0;
        padding: 0 0;
      }

      & ~ label:before {
        transform: translate(-4px, -2px) rotate(-43deg);
      }

    }
  }

  // Single RULE
  .rule {
    margin-bottom: 0.4rem;
    padding-left: 20px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: transparent;

    .rule-label {
      cursor: pointer;
      font-weight: inherit;
      color: inherit;
      display: block;
      width: 100%;
    }
    
    .description {
      display: block;
      color: inherit;
      margin: 4px 0;
      font-style: italic;
    }

    .rule-toggle {
      display: none;

      & + .rule-label {
        &:after {
          content: '';
          display: inline-block;
          width: 0;
          height: 0;
          border: 6px solid transparent;
          border-top-color: $color-light-green;
          position: relative;
          top: 4px;
        }
      }

      &:not(:checked) ~ *:not(.rule-label) {
        display: none;
      }

      &:checked + .rule-label:after {
        border-top-color: transparent;
        border-bottom-color: $color-light-green;
        top: -2px;
      }
    }
  }

  .rule-checked {
    background-image: url(../img/icon_checkmark.png);
    color: $text-color-subdued;
  }

  .rule-unchecked {
    background-image: url(../img/icon_checkbox.png);
  }

  .extra-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0;
    margin: 0;

    .info-item {
      flex: 0 1 auto;
      flex-wrap: wrap;
      list-style: none;
      padding: 3px 6px;
      margin: 2px 5px 5px 0;
      background-color: #e1ecf4;
      color: #39739d;
      border-radius: 4px;
      position: relative;
      transition: background-color .2s ease, color .2s ease;

      .count {
        display: inline-block;
        width: 18px;
        height: 18px;
        border-radius: 100%;
        vertical-align: middle;
        text-align: center;
        margin-left: 2px;
        font-weight: 700;
        color: white;
        background-color: #afc8dd;
        font-size: 10px;
        padding-top: 1px;
        box-sizing: border-box;
      }

      .icon {
        display: inline-block;
        vertical-align: middle;
        background-color: transparent;
        width: 14px;
        height: 14px;

        svg {
          width: 14px;
          height: 14px;
          background-color: transparent;
        }

        &:empty {
          display: none;
        }
        
        &.has-suggestions-icon {
          svg * {
            fill: $color-orange;
          }
        }

        &.type-icon {
          svg * {
            fill: #39739d;
          }
        }
      }

      .word-suggestions {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        z-index: 11;
        width: auto;
        background-color: white;
        border: 1px solid #ddd;
        left: 50%;
        top: calc(100% + 7px);
        transform: translateX(-50%);
        transition: opacity .2s ease, visibility .2s ease;
        border-radius: 5px;
        box-shadow: 0 0 3px 0 #dddddd;
        cursor: text;

        &:before {
          content: '';
          width: 14px;
          height: 14px;
          border: 1px solid #ddd;
          background-color: #eee;
          box-shadow: 0 0 3px 0 #dddddd;
          position: absolute;
          z-index: -1;
          left: 50%;
          top: 0;
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
        }

        .label {
          display: block;
          padding: 10px 15px;
          background: #eee;
          font-weight: 700;
        }

        .suggestions-list {
          margin: 0;
          padding: 10px 15px;

          .word-suggestion {
            list-style: none;
            display: inline-block;
            white-space: nowrap;

            &:not(:last-child):after {
              content: ', ';
            }
          }
        }
      }

      &:hover {
        background-color: darken(#e1ecf4, 5);
        color: darken(#39739d, 5);

        .word-suggestions {
          opacity: 1;
          visibility: visible;
        }
      }

      &.has-suggestions {
        cursor: pointer;
      }

      &.gender-female {
        background-color: #ffdfdd;

        &:hover {
          background-color: darken(#ffdfdd, 5);
        }
      }

      &.gender-neutral {
        background: #ddd;
      }

      &.sentiment-negative {
        background: #eaeaea;
      }

      &.sentiment-positive {
        background: #daf9d8;
      }
    }
  }
}

/* Css for keyword suggestions */
#webtexttool-keyword-suggestion {
  margin: 0 0 10px 0;
  width: 100%;
  border-bottom: 1px solid #eeeeee;
  .item {
    display: inline-block;
    vertical-align: top;
  }
  .keyword {
    min-width: 250px;
  }
  .add-suggestion {
    input[type=button] {
      background-color: #008BCB;
      color: #fff;
      border: 1px solid #cccccc;
      height: 32px;
      margin: 10px 10px 0 20px;
      padding: 5px;
    }
  }
  .item {
    .label {
      font-weight: bold;
    }
    .value {
    }
  }
  .color-bar {
    border: 1px solid #000000;
    height: 10px;
    border-radius: 5px;
    width: 120px;
  }

  .add-keyword {
    border-radius: 50px;
    padding: 0.4em 1em;
    &:hover {
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.35);
    }
  }

  .indicator {
    vertical-align: middle;
    display: inline-block;
    height: 1em;
    width: 1em;
    border: 1px solid #000;
    margin-right: 1em;

    &.red {
      background-color: $color-red;
    }
    &.orange {
      background-color: $color-orange;
    }
    &.yellow {
      background-color: $color-yellow;
    }
    &.light-green {
      background-color: $color-light-green;
    }
    &.green {
      background-color: $color-green;
    }
  }
}

#webtexttool-tabs-wrapper {
  border: none !important;
  padding: 0;
  height: 100%;

  .ui-state-default a {
    color: black;
  }

  li.ui-tabs-selected {
    border: 1px solid #ccc;
    border-radius: 8px 8px 0 0;
  }
}

.webtexttool-stats-wrapper {
  border-bottom: 1px solid $ruler-color;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

#webtexttool-seo-inner {
  padding-top: 10px;
}

$toggle-height: 16px;
.wtt-toggle-switch {
  height: $toggle-height;
  width: $toggle-height * 2.4;
  float: right;
  clear: both;
  position: relative;
  z-index: 10;

  .form-item {
    height: $toggle-height * 1.4;
  }

  input {
    display: none;
  }

  label.option {
    background-color: #ccc !important;
    border-radius: 15px;
    width: $toggle-height * 2.4;
    height: $toggle-height;
    display: block;
    box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: $toggle-height * .2;
      left: $toggle-height * .3;
      width: $toggle-height * .5;
      height: $toggle-height * .5;
      border-radius: 50%;
      background-color: #777 !important;
      transition: all .3s ease-in-out;
      transform: translateX(0);
    }
  }

  input:checked + label.option {
    background-color: $color-light-green !important;

    &:after {
      background-color: $color-green !important;
      transform: translateX($toggle-height * 1.2);
    }
  }
}

#webtexttool-content_quality-inner {
  label[for^="wtt-sug-label-"] {
    width: 230px !important;
  }
}

.wtt-disabled {
  opacity: .3;
  pointer-events: none;
}

.wtt-analyse-content-quality-wrapper {
  margin-bottom: 20px;
}


#webtexttool-content_quality-inner .form-radios .form-type-radio {
  display: block;
  float: left;
  margin-right: -1px;

  &:first-child label {
    border-radius: 5px 0 0 5px;
  }

  &:last-child label {
    border-radius: 0 5px 5px 0;
  }

  label {
    padding: 2px 5px;
    border:1px solid #CCC;
    cursor:pointer;
    z-index:90;
    display: block;
    font-weight: 100;
    text-align: center;
    width: auto;

    &:hover {
      background:#449D44;
    }
  }

  input {
    display: none;

    &[type="radio"] {
      opacity:0.011;
      z-index:100;

      &:checked + label {
        color: white;
        background: #5CB85C;
        border-color: $color-green;
        z-index: 2;
        position: relative;

        &:hover {
          background: #449D44;
        }
      }

      & + label:hover {
        background: #E6E6E6;
      }
    }
  }

}

.statistics {
  display: inline-block;
  margin-bottom: 20px;
  border-bottom: 1px solid #E6E6E6;
  width: 100%;
  padding-bottom: 5px;

  .stat {
    display: block;
    padding-bottom: 6px;
    float: left;
    width: 100%;

    strong,
    span {
      float: left;
      width: 50%;
      display: block;
    }

    strong {
      font-weight: bold !important;
    }

    span {
      text-align: right;
    }
  }

  .score {
    font-size: 18px !important;
    font-weight: bold !important;

    strong {
      font-size: 18px !important;
      font-weight: bold !important;
    }

    span {
      font-size: 18px !important;
      font-weight: bold !important;
    }
  }
}

.wtt-start-optimizing-seo {
  margin-bottom: 30px !important;
}